body{
    background: #fdecd3;
}

#header{
    padding: 10px;
    font-family: 'Allura', cursive;
    font-size: 50px;
    color: #63666A;
    text-align: center;
}

h1{
    padding: 10px;
    font-family: 'Allura', cursive;
    font-size: 40px;
    color: #63666A;
    text-align: center;
}

p{
    padding: 10px;
    font-family: 'Allura', cursive;
    font-size: 30px;
    color: #63666A;
    text-align: center;
}

#imgCenter{
    margin: 0 auto;
    text-align: center;
}

img{
    width: 400px;
}

#numWins{
    font-family: 'Allura', cursive;
    font-size: 30px;
    color: #63666A;
    text-align: center;
}

#wordDisplay{
    font-family: 'Allura', cursive;
    font-size: 30px;
    color: #63666A;
    text-align: center;
}

#guessRemaining{
    font-family: 'Allura', cursive;
    font-size: 30px;
    color: #63666A;
    text-align: center;
}

#letterGuessed{
    font-family: 'Allura', cursive;
    font-size: 30px;
    color: #63666A;
    text-align: center;
}