body{
    background: #fdecd3;
    padding: 10px;
    font-family: 'Allura', cursive;
    font-size: 50px;
    color: #63666A;
    text-align: center;

}

#header{
    padding: 10px;
    font-size: 50px;
    color: #63666A;
    text-align: center;
}

h1{
    padding: 10px;
    font-size: 40px;
    color: #63666A;
    text-align: center;
}

p{
    padding: 10px;
    font-size: 30px;
    color: #63666A;
    text-align: center;
}

#imgCenter{
    margin: 0 auto;
    text-align: center;
}

img{
    width: 400px;
}

#game{
    font-size: 30px;
    text-align: center;
}


#textArray{
    margin: 0 auto;
    width: 50%;
    height: 50px;
    font-size: 30px;
    border-style: solid;
}

#lettersIncorrect{
    margin: 0 auto;
    width: 50%;
    height: 50px;
    font-size: 30px;
    border-style: solid;
}